.WeatherForecast {
  text-align: center;
}

.forecastBox {
  border: 1px solid #fd739f8b;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #994e9a09;
  margin: 0 auto;
  padding: 0 auto;
}

.forecastBox:hover {
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #994e9a09;
  background-image: linear-gradient(100deg, #fd739f6c 0%, #ffb99369);
}

.forecastDay {
  text-align: center;
  color: #fd739fd4;
  font-size: 18px;
  font-weight: 400;
}

.forecastTemp {
  display: flex;
  justify-content: center;
}

.maxTemp {
  font-size: 25px;
  color: #ffa371;
  font-weight: 300;
}

.minTemp {
  color: #ffb993c0;
  font-weight: 200;
  padding-top: 3px;
}
