.Weather #main-information {
  margin: 20px 0px 20px 0px;
}

.Weather .city-default {
  font-weight: bold;
  font-size: 45px;
  margin: 0px 0px 2px 0px;
  color: #ffa371;
  text-shadow: 3px 3px 2px #ffe1d2a8;
}

.Weather #quote-default {
  font-size: 12px;
  line-height: 0;
  color: #fe97b8d4;
}

.Weather .main-temperature img {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 18px;
  height: 80px;
  width: 80px;
}

.Weather #main-grades {
  font-size: 50px;
  color: #ffa371;
  font-weight: 500;
  text-shadow: 3px 3px 2px #ffe1d2a8;
}

.Weather #main-units {
  position: relative;
  font-size: 13px;
  top: -30px;
  color: #fdb48da6;
}

.Weather #celsius,
#fahrenheit {
  color: #fd739fd4;
  text-decoration: none;
}

.Weather li {
  list-style-type: none;
}

.Weather .description-forecast {
  display: flex;
  justify-content: space-evenly;
  margin: 0px 0px 15px 0px;
  padding: 0px auto;
}

.Weather .description-forecast li {
  color: #fd739fd4;
  font-weight: 400;
}

.Weather .description-forecast li span {
  color: #ffa371;
  font-weight: 300;
}
